*{
    box-sizing: border-box;
}
.menu{
    width: 100%;
    background: #000;
}
.menu_item__allusion{
    text-decoration: none;
    color: #fff;
}
.section_block{
    width: 100%;
    background:#008B8B;
}
.article_quote{
    background: #008B8B;
    color: #fff;
    padding: 3em 2em;
}
.footer{
    width: 100%;
    background: #000;
    text-align: center;
    color: #fff;
}
.footer_logo{
    float: right;
    background: #C71585;
}
.baner_image{
    width: 33.33%;
    background: #4B0082;
    border: 1px solid #000;
    float: left;
    overflow: hidden;
  }
.baner1{
    background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR5gHzyzPYNPabjfR_au03r82CTBPmVdWRyRwcbjzouV1-cQyqY);
    background-size: cover;
}
.baner2{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3BvBN-XhkJQCpxvoVAMaWyt_yoivETcKgAJY47OwXKVNCPmHpMg);
    background-size: cover;}
.baner3{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSItZX38NytdZQhC3ms_OYBGSLCFFRCJHtJdOq98AJH3R1Vm-Q5vg);
    background-size: cover;
}
.text_page1{
    width: 50%;
    height: 20em;
    float: left;
}
.text_page2{
    width: 50%;
    height: 20em;
    float: left;
}
@media only screen and (min-width: 768px){
    .menu_item{
        display: inline-block;
        padding: 2em;
    }
    .menu_item__allusion{
        font: larger bold Arial;
    }
    .menu{
        height: 5em;
    }
    .article_quote{
        width: 90%;
        height: 15em;
        font-size: 3em;
    }
    .footer{
        height: 10em;
        font-size: medium;
        line-height: 10em;
    }
    .footer_logo{
        width: 10em;
        height: 10em;
    }
    .footer_logo>div{
        width: 4em;
        height: 4em;
        margin: 3em 3em;
        background-image:url(http://icon-icons.com/icons2/285/PNG/64/social_google_box_white_256_30656.png);
    }
   .baner_image{
        height: 20em;
    }
    .text_page1{
        padding: 2em 3em;
    }
    .text_page2{
        padding: 5em 3em;
    }
}
@media only screen and (max-width: 640px){
    .menu_item {
        display: inline-block;
        padding: 0.5em;
    }

    .menu_item__allusion {
        font: 0.3em bold Arial;
        margin: 0 auto;
    }

   .menu {
        height: 2em;
    }
    .article_quote{
        width: 80%;
        height: 10em;
        font-size: 0.5em;
    }
    .footer{
        height: 5em;
        font-size: 0.2em;
        line-height: 5em;
    }
    .footer_logo{
        width: 5em;
        height: 5em;
    }
    .footer_logo>div{
        width: 1.5em;
        height: 1.5em;
        margin: 1.75em;
        background:#fff;
    }
    .baner_image{
        height:10em;
    }
    .text_page1{
        padding: 2em 3em;
        font-size: 0.2em;

    }
    .text_page2{
        padding: 4em 3em;
        font-size: 0.2em;
    }
}
